/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}

#wrapper {
     width: 902px;
     margin: 0 auto;
     background-color: white;
     padding-bottom: 2px;

}

#box {
     width: 100px;
     height: 100px;
     margin: 0 auto;
     background-color: {{clr}};
}
