<html>
    <head>
         <title> Dice Roller </title>

    </head>
    <body>
         <h1> Dice Roller Example </h1>
         <div class="dicearea">
               <form action="/roll" method="post">

                    <p>
                         <label> Name of the Player </label>
                         <input type=text name="name" placeholder="name of the player">
                    </p>
                    <p>
                         <label>Type of Dice</label>
                         <input type=text name="typeofdice" placeholder="Select type of dice">
                    </p>
                    <p>
                         <label> Number of Dice </label>
                         <input type=text name="numberofdice" placeholder="numberofdice">
                    </p>
                    <p>
                         <input type=submit value="Roll">
                    </p>
               </form>


          </div>

     </body>

</html>
