<html>
    <head>
         <title> Dice Roller </title>

    </head>
    <body>
         <h1> Dice Roller Example </h1>
         <div class="dicearea">

               <p>  Name of the Player {{name}} </p>
               <p>
                    <label>Type of Dice {{td}}</label>
               </p>
               <p>
                    <label> Number of Dice {{nd}} </label>
               </p>

          </div>
          <div>
               <h1> Dice roll Results </h1>
               <p>  Name of the Player {{name}} </p>
               <p>  Result {{results}} </p>
          </div>
     </body>


</html>
