<!DOCTYPE html>
<html lang="en">
     <head>
          <title>modernize</title>
          <meta charset="UTF-8">
          <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='yb2.css')}}">
     </head>
     <body>
          <div id="wrapper">
               <div id="header">
                    <div id="headlogo">
                         <h1> JAMES <span class="headfcolor"> CONSULTING </span> </h1>
                    </div>
                    <div id="headnav">
                         <ul id="headnavs">
                              <li class="headnavsli"><span class="headfcolor"> Home </span> </li>
                              <li class="headnavsli"> About </li>
                              <li class="headnavsli"> Services </li>
                              <li class="headnavsli"> Projects </li>
                              <li class="headnavsli"> Clients </li>
                         </ul>
                    </div>

               </div>
               <div id="container">
                    <div id="section1">
                         <img src={{url_for('static',filename='images/main_img.png')}}  alt="mainpic" >
                    </div>
                    <div id="section2">
                         <div class="box">
                              <img src={{url_for('static',filename='images/icon.png')}} alt="icon" width="37" height="29">
                              <h2> SERVICES </h2>
                              <p> You have an idea about where you want your business
                                   to go? Need some help getting there? We are the experts
                                   at helping our customers take their businessesto the next
                                   stage. we look forward to transforming your business ...</P>
                              <div class="more">
                                   <input type="submit" style="background:url(/images/button.png) no-repeat;" />
                              </div>
                         </div>

                         <div class="box">
                              <img src={{url_for('static',filename='images/icon.png')}} alt="icon" width="37" height="29">
                              <h2>PROJECTS</h2>
                              <p> We worked with Pinktrip, a local fashion retailer, in2010.
                              They had a dream to take their business to the next level and
                              draw in a national base of customers, while retaining the local
                              feel of their store online. </p><span class="excepp"> we redesigned ...
                              </span>
                              <div class="more2">
                                   <img src={{url_for('static',filename='images/button.png')}}   alt="moreinfo">
                              </div>
                         </div>

                         <div class="box3">
                              <img src={{url_for('static',filename='images/icon.png')}} alt="icon" width="37" height="29">
                              <h2> CLIENTS </h2>
                              <p> We have worked with a variety of businesses varying from non-profit
                              to corporate to retail. Although our clients have ranged in size to
                              large corporations, our niche is helping small and medium sized
                              clients discover ...
                              </P>
                              <div class="more">
                                   <img src={{url_for('static',filename='images/button.png')}}   alt="moreinfo">
                              </div>
                         </div>

                    </div>
                    <div id="section3">
                         <div class="sec3box">
                              <div class="sec3boxhdr">
                                   <img src={{url_for('static',filename='images/worldtext.png')}} alt="worldtxt" >
                              </div>
                              <div class="sec3boxcnt">
                                   <img src={{url_for('static',filename='images/building.png')}} alt="building">
                              </div>
                         </div>
                         <div class="sec3box">
                              <div class="sec3boxhdr">

                              </div>
                              <div class="sec3boxcnt">
                                   <p>Our goal at James Consulting is to provide effective
                                   solutions designed to boost your business, be it small or a
                                   large organization.</p>
                                   <p>Our consultants design solutions tailored specifically to
                                        their needs of your business in order to ensure you
                                        achieve your dreams of success.</p>
                                   <p> Check out our custom solutions and services.</p>
                                   <p> </p>
                                   <h3> Learn more </h3>
                              </div>
                         </div>
                         <div class="sec3box3">
                              <div class="sec3boxhdr">
                                   <img src={{url_for('static',filename='images/testitext2.png')}} alt="testtext" >
                              </div>
                              <div class="sec3boxcnt">
                                   <img src={{url_for('static',filename='images/testi.png')}} alt="testimonial" width="269">
                               </div>
                         </div>
                    </div>
               </div>
               <div id="footer">
                    <ul id="navs">
                         <li class="navsli"><span class="fcolor"> Home </span> </li>
                         <li class="navsli"> About </li>
                         <li class="navsli"> Services </li>
                         <li class="navsli"> Projects </li>
                         <li class="navsli"> Clients </li>
                    </ul>

               </div>
          </div>



     </body>
</html>
