<!DOCTYPE html>
<html lang="en">
     <head>
          <title>modernize</title>
          <meta charset="UTF-8">
          <link rel="stylesheet" type="text/css" href="yb19.css">
     </head>
     <body>
          <div id="wrapper">
               <div id="header">
                    <h1 id="h1txt">Yourwebsitetitle.com</h1>
                    <img id="attag" src="images/logo.png" alt="logo">
               </div>
               <div id="menu">
                    <ul id="navs">
                         <li class="splitter">Mainsite</li>
                         <li class="splitter">Services</li>
                         <li class="splitter">Gallery</li>
                         <li class="splitter">Resources</li>
                         <li class="splitter">Help & Support</li>
                         <li class="splitter">Contact</li>
                    </ul>
                    <img src="images/banner_img.png" alt="banner image">
               </div>
               <div id="contentwrapper">
                    <div id="content">
                         <div id="contentnav">
                              <form method="post">
                                   <p> Search our Site</p>
                                   <input class="formelements" type="text"  >
                                   <input class="formelements" type="image" src="images/search_icon.png" alt="Submit">
                              </form>
                              <div class="contentnavbox">
                                   <div class="boxheader">
                                        <h4> Notes Area </h4>
                                   </div>
                                   <div class="boxcontent">
                                        <p> Edit the global sidebar.htm to update this text. You can include information, notes and links in this text area.</p>
                                        <p> <span class="samplelinktext"> Sample link.....</span></p>
                                   </div>
                              </div>
                              <div id="contentnavbox2">
                                   <p> Either Vertical or horizontal scroll direction </p>
                                   <p> Customomizable pause time before and after an item. </p>
                                   <p> Scroll modes: auto and on-demand.  When scroller box is hovered over. </p>
                              </div>
                              <img id="contentnavimage" src="images/content_img1.png" alt="content image" width="173" >
                              <div class="contentnavbox">
                                   <div class="boxheader">
                                        <h4> Notes Area </h4>
                                   </div>
                                   <div class="boxcontent">
                                        <p> Edit the global sidebar.htm to update this text. You can include information, notes and links in this text area.</p>
                                        <span class="samplelinktext"> Sample link.....</span>
                                   </div>
                              </div>
                         </div>
                         <div id="contentmain">
                              <div id="mainbox">
                                   <div id="contentbox1">
                                        <h2> Allwebco Template </h2>
                                        <p> This template includes three picture galleries in 2 versions, both with and without Paypal order forms.  The header logo is a global plain text logo you can edit in Notepad.  A <span class="paragraphtext"> graphic logo </span> .jpg option is included so you can use your own graphic logo image. All menus, sidebars and the footer and header are plain text global files so you can update all your pages at one time. The included serach is a site search powered by Google and does not require any special scripts to be setup in your hosting account. <span class="paragraphtext"> View this page with a graphic logo.</span></p>
                                   </div>
                                   <div class="horizontalruler"></div>
                                   <div class="contentbox2">
                                        <h2> Colors amd Formatting </h2>
                                        <p> This template includes six color themes. Colors are easily, globally changed for the entire template by editing the plain text colortheme.css with your choice. Instantly change the color of your website. Template font sizes and colors, page buttons and menu colors and fonts are all set global CSS files for  easy formatting updates. You can also setup your own custom color scheme.  If you are creating your own theme some graphics editing will be required.  </p>
                                   </div>
                                   <div class="horizontalruler"></div>
                                   <div class="contentbox2">
                                        <h2>Features </h2>
                                        <p>Plain text global menus, global sidebars areas, header and footers are setup for easy website updates.  The drop  menus can be setup 3 deep for large websites. A sample multi-level menu file is included with the download.  Or any menuitem can be set as a plain button with no drop menu. The sidebar search can be switched off, setup as a google search  or, 3 options are included for a site search.  The sidebar scroller is displaying 3 basic HTML pages and is updated like any other template page.  The right sidebar can be switched off if not required.  <span class="paragraphtext"> View the step by step instructions. </span></p>
                                   </div>
                                   <div class="horizontalruler"></div>
                              </div>
                              <div id="notesarea">
                                   <div class="notesmenu"><h4> Notes Area</h4></div>
                                   <div class="notescontent"><p> You can edt this side bar area with your own text or add links or small images here as well.<span class="contact"> Contact us...</span></p></div>

                                   <div id="notesimage">
                                   <img id="notesareaimage" src="images/content_img2.png" alt="images">
                                   </div>
                                   <div class="notesmenu"><h4> Notes Area</h4></div>
                                   <div class="notescontent"><p> You can also turn off this area in the sidebar-right.js and have no right bar showing in this area.</p></div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </body>
</html>
